/*******************************/
/********* General CSS *********/
/*******************************/

@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

body {
  color: #797979;
  background: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #414141;
}

a {
  color: #313131;
  transition: 0.3s;
}

a:hover,
a:active,
a:focus {
  color: #a7bea1;
  outline: none;
  text-decoration: none;
}

.btn:focus,
.form-control:focus {
  box-shadow: none;
}

.container-fluid {
  max-width: 1366px;
}

.btn {
  padding: 12px 25px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #ffffff;
  background: #a7bea1;
  border: 2px solid transparent;
  border-radius: 0;
  box-shadow: inset 0 0 0 50px #a7bea1;
  transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
}

.btn:hover {
  color: #a7bea1;
  background: transparent;
  box-shadow: inset 0 0 0 0 #a7bea1;
  border-color: #a7bea1;
}

#loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease-out, visibility 0s linear 0.3s;
  -o-transition: opacity 0.3s ease-out, visibility 0s linear 0.3s;
  transition: opacity 0.3s ease-out, visibility 0s linear 0.3s;
  z-index: 999;
}

#loader.show {
  -webkit-transition: opacity 0.6s ease-out, visibility 0s linear 0s;
  -o-transition: opacity 0.6s ease-out, visibility 0s linear 0s;
  transition: opacity 0.6s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

#loader .loader {
  position: relative;
  width: 45px;
  height: 45px;
  border: 5px solid #dddddd;
  border-top: 5px solid #a7bea1;
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.back-to-top {
  position: fixed;
  display: none;
  width: 44px;
  height: 44px;
  padding: 8px 0;
  text-align: center;
  line-height: 1;
  font-size: 22px;
  right: 15px;
  bottom: 15px;
  z-index: 9;
}

.back-to-top i {
  color: #ffffff;
}

.back-to-top:hover i {
  color: #414141;
}

/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.navbar {
  position: relative;
  transition: 0.5s;
  z-index: 999;
  margin: 0;
}

.navbar.nav-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.navbar .navbar-brand {
  margin: 0;
  padding: 0;
  transition: 0.5s;
}

.navbar .navbar-brand img {
  max-width: 100%;
  height: 75px;
}

.navbar .dropdown-menu {
  margin-top: 0;
  border: 0;
  border-radius: 0;
  background: #000;
}

@media (min-width: 992px) {
  .navbar {
    position: absolute;
    width: 100%;
    padding: 30px 60px;
    background: transparent !important;
    border-bottom: 1px dashed rgba(256, 256, 256, 0.2);
    z-index: 9;
  }

  .navbar.nav-sticky {
    padding: 10px 60px;
    background: #a7bea1 !important;
  }

  .navbar .navbar-brand {
    color: #000;
  }

  .navbar.nav-sticky .navbar-brand {
    color: #a7bea1;
  }

  .navbar-light .navbar-nav .nav-link,
  .navbar-light .navbar-nav .nav-link:focus {
    padding: 10px 10px 8px 10px;
    color: #000;
    font-size: 15px;
    font-weight: 500;
  }

  .navbar-light.nav-sticky .navbar-nav .nav-link,
  .navbar-light.nav-sticky .navbar-nav .nav-link:focus {
    color: #000;
  }

  .navbar-light .navbar-nav .nav-link:hover,
  .navbar-light .navbar-nav .nav-link.active {
    color: grey;
  }

  .navbar-light.nav-sticky .navbar-nav .nav-link:hover,
  .navbar-light.nav-sticky .navbar-nav .nav-link.active {
    color: #a7bea1;
  }
}

@media (max-width: 991.98px) {
  .navbar {
    padding: 15px;
    background: #ffffff !important;
  }

  .navbar .navbar-brand {
    color: #a7bea1;
  }

  .navbar .navbar-nav {
    margin-top: 15px;
  }

  .navbar a.nav-link {
    padding: 5px;
  }

  .navbar .dropdown-menu {
    box-shadow: none;
  }
}

/*******************************/
/********** Hero CSS ***********/
/*******************************/
.hero {
  position: relative;
  width: 100%;
  padding: 120px 0 0 0;
  overflow: hidden;
  background: linear-gradient(#a7bea1, #a7bea1), url(../img/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .container {
  margin: 18%;

}

.hero .hero-content {
  text-align: center;
}

.hero .hero-text p {
  color: #000;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
}

.hero .hero-text h1 {
  color: #000;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 15px;
}

.hero .hero-text h2 {
  display: inline-block;
  margin: 0;
  height: 35px;
  color: #000;
  font-size: 35px;
  font-weight: 600;
}

.hero .hero-text .typed-text {
  display: none;
}

.hero .hero-text .typed-cursor {
  font-size: 35px;
  font-weight: 300;
  color: #000;
}

.hero .hero-btn .btn {
  margin-top: 35px;
  color: #a7bea1;
  background: #ffffff;
  box-shadow: inset 0 0 0 50px #ffffff;
}

.hero .hero-btn .btn:hover {
  color: #ffffff;
  background: transparent;
  box-shadow: inset 0 0 0 0 #ffffff;
  border-color: #ffffff;
}

.hero .hero-btn .btn:first-child {
  margin-right: 10px;
}

@media (max-width: 991.98px) {
  .hero {
    padding-top: 60px;
  }

  .hero .hero-content {
    padding: 0 15px;
  }

  .hero .hero-text p {
    font-size: 20px;
  }

  .hero .hero-text h1 {
    font-size: 45px;
  }

  .hero .hero-text h2 {
    font-size: 25px;
    height: 25px;
  }

  .hero .hero-btn .btn {
    padding: 12px 30px;
    letter-spacing: 1px;
  }
}

@media (max-width: 767.98px) {
  .hero {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .hero,
  .hero .hero-text,
  .hero .hero-btn {
    width: 100%;
    text-align: center;
  }

  .hero .hero-text p {
    font-size: 18px;
  }

  .hero .hero-text h1 {
    font-size: 35px;
  }

  .hero .hero-text h2 {
    font-size: 22px;
    height: 22px;
  }

  .hero .hero-btn .btn {
    padding: 10px 15px;
    letter-spacing: 1px;
  }
}

@media (max-width: 575.98px) {
  .hero .hero-text p {
    font-size: 16px;
  }

  .hero .hero-text h1 {
    font-size: 30px;
  }

  .hero .hero-text h2 {
    font-size: 18px;
    height: 18px;
  }

  .hero .hero-btn .btn {
    padding: 8px 10px;
    letter-spacing: 0;
  }
}

/*******************************/
/******* Section Header ********/
/*******************************/
.section-header {
  position: relative;
  margin-bottom: 45px;
}

.section-header p {
  display: inline-block;
  margin: 0 30px;
  margin-bottom: 10px;
  padding-left: 15px;
  position: relative;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: #ffffff;
}

.section-header p::before {
  position: absolute;
  content: "";
  height: 3px;
  top: 11px;
  right: 0;
  left: -30px;
  background: #a7bea1;
  z-index: -1;
}

.section-header p::after {
  position: absolute;
  content: "";
  width: 3px;
  height: 3px;
  top: 11px;
  left: 3px;
  background: #a7bea1;
  z-index: 1;
}

.section-header h2 {
  margin: 0;
  position: relative;
  font-size: 45px;
  font-weight: 700;
}

@media (max-width: 767.98px) {
  .section-header h2 {
    font-size: 30px;
  }
}

/*******************************/
/********** About CSS **********/
/*******************************/

#aboutme {
  position: relative;
  text-align: center;
}

#aboutmeimg {
  width: 100%;
  opacity: 30%;
}

#aboutmetext {
  font-size: small;
}

.superpuesto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 800px) {
  .textoabout {
    display: none;
  }
}

@media (max-width: 1150px) {
  #imgabout {
    width: 70%;
  }
}

@media (min-width: 800px) {
  .contenedor {
    display: none;
  }
}


.superpuesto p {
  color: #000;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
}

.contenedor article {
	line-height: 28px;
}

.contenedor article h1 {
	font-size: 30px;
	text-align: left;
	padding: 50px 0;
}

.contenedor article p {
	margin-bottom: 20px;
}

.contenedor article .btn-abrir-popup {
	padding: 0 20px;
	margin-bottom: 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #a7bea1;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}

.contenedor article .btn-abrir-popup:hover {
	background: #a7bea1;
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay.active {
	visibility: visible;
}

.popup {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

.popup h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

.popup form .contenedor-inputs {
	opacity: 0;
}

.popup form .contenedor-inputs input {
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #BBBBBB;
}

.popup form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup form .btn-submit:hover {
	background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}

/*******************************/
/********* Contact CSS *********/
/*******************************/

.contact-info{
  display: flex;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}


.cards {
  background: #2f3542;
  padding: 0 20px;
  margin: 0 10px;
  width: calc(33% - 20px);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

.card-icon{
  font-size: 28px;
  background: #a7bea1;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px !important;
  border-radius: 50%;
  transition: 0.3s linear;
}

.cards:hover .card-icon{
  background: none;
  color: #a7bea1;
  transform: scale(1.6);
}

.cards p{
  margin-top: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  max-height: 0;
  opacity: 0;
  transition: 0.3s linear;
}

.cards:hover p{
  max-height: 40px;
  opacity: 1;
}


@media screen and (max-width:600px) {
  .contact-info{
    flex-direction: column;
  }
  .cards{
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
  }
}

.courv {
  position: absolute;
  height: 3rem;
  width: 100%;
}

/*******************************/
/********* Footer CSS **********/
/*******************************/
.footer {
  position: relative;
  background: #a7bea1;
}

.footer .container-fluid {
  padding: 60px 0 0 0;
}

.footer .footer-info {
  position: relative;
  width: 100%;
  text-align: center;
}

.footer .footer-info h2 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
}

.footer .footer-info h3 {
  margin-bottom: 25px;
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
}

.footer .footer-menu {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer .footer-menu p {
  color: #ffffff;
  font-size: 22px;
  font-weight: 600;
  line-height: 20px;
  padding: 0 15px;
  border-right: 1px solid #ffffff;
}

.footer .footer-menu p:last-child {
  border: none;
}

.footer .footer-social {
  position: relative;
  margin-top: 15px;
}

.footer .footer-social a {
  display: inline-block;
}

.footer .footer-social a i {
  margin-right: 15px;
  font-size: 20px;
  color: #ffffff;
  transition: 0.3s;
}

.footer .footer-social a:last-child i {
  margin: 0;
}

.footer .footer-social a:hover i {
  color: #414141;
}

.footer .copyright {
  position: relative;
  text-align: center;
  margin-top: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.footer .copyright::before {
  position: absolute;
  content: "";
  width: 50%;
  height: 1px;
  top: 0;
  left: 25%;
  background: rgba(256, 256, 256, 0.2);
}

.footer .copyright p {
  margin: 0;
  color: #ffffff;
}

.footer .copyright .col-md-6:last-child p {
  text-align: right;
}

.footer .copyright p a {
  color: #ffffff;
  font-weight: 600;
}

.footer .copyright p a:hover {
  color: #414141;
}

@media (max-width: 575.98px) {
  .footer .footer-info h2 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
  }

  .footer .footer-info h3 {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .footer .footer-menu p {
    font-size: 16px;
    line-height: 16px;
    padding: 0 5px;
  }
}

.tm-social-link {
  width: 40px;
  height: 40px;
  color: black;
  background-color: white;
  margin: 8px;
  border-radius: 5px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}


